            <h2>Что такое &laquo;МотоФортуна&raquo;?</h2>
            <p><h3>Интернет магазин</h3>
                Мы находимся в Киеве. Наш магазин находится в <b>в интернете</b>. 
                Если кому ну очень интересно &mdash; в деревушке <a class="normal" href="http://ru.wikipedia.org/wiki/%D0%94%D1%83%D0%B1%D0%BB%D0%B8%D0%BD">Дублин</a>
                на востоке Ирландии<img class="icon" src="/func/ckeditor/_source/plugins/smiley/images/shades_smile.gif" alt=":)">
                <p>Товар в нашем магазине нельзя пощупать, 
                подержать в руке перед покупкой. Можно увидеть его фотографии, прочитать описание, 
                задать нам уточняющие вопросы. Мы &mdash; выставка-продажа в интернете.
            <p><h3>Свое для своих</h3>
                Мы ездим на мотоциклах не первый год,
                поэтому знаем то, что продаем. Мы не станем вам предлагать сомнительную покупку.
            <p><h3>Надежность и доверие</h3>
                Мы ценим ваше внимание и ваше время. Нам выгодно и приятно видеть вас в гостях. Наш успех &mdash; это
                ваше удовлетворение от сотрудничества.
            <p><h3>Идея</h3>
                Проект &laquo;МотоФортуна&raquo; создан для того, чтобы человек, владеющий мотоциклом,
                мог реализовать свою страсть к байкам, не теряясь в деталях.
                <p>
                Для многих мотоциклистов знаком вопрос &mdash; где взять? Найти расходники, экипировку, запчасти, спросить совет. Найти по оптимальной цене,
                не теряя в качестве, не ожидая заказ месяцами. Нам знакома такая ситуация, мы сами байкеры. Проект &laquo;МотоФортуна&raquo; &mdash;
                наше предложение по решению таких вопросов.
            <h2>Контактная информация</h2>
            Смотрите <a href="/info/contact.html">здесь</a>.
            <h2>Обратная связь</h2>
            Наша электропочта <img src="/func/images/email.gif" class="icon" alt="">
            <p>
            <div style="text-align: right">С уважением<br><img src="/func/clogo.png" alt="МотоФортуна"></div>
            <br><br>
            <div style="background: url('/func/images/rider.jpg') no-repeat; height: 166px;"></div>