            <h1>Как купить у нас товар</h1>
            Очень просто &mdash; выбрать и позвонить! Покупка в нашем магазине состоит из четырех шагов:
            <ol>
              <li><a class="a-normal" href="#step1">Выберите товар или товары</a>
              <li><a class="a-normal" href="#step2">Выберите способ доставки</a>
              <li><a class="a-normal" href="#step3">Выберите вида оплаты</a>
              <li><a class="a-normal" href="#step4">Позвоните и закажите</a>
            </ol>

            <p><img class="icon" alt="" src="/func/info-info.gif">Мы работаем по схема &laquo;сегодня на завтра&raquo;.
            Вы сможете получить заказанный товар на следующий рабочий день. Товар по Украине мы 
            отправляем на следующий рабочий день.</p>

            <a name="step1"></a>
            <p><h2>1. Выберите товар</h2>
              В нашем каталоге возле каждого товара указан код. Запишите коды всех выбранных вами товаров.

            <a name="step2"></a>
            <p><h2>2. Доставка</h2>
              <p><h3>Приехать к нам в офис</h3>
              Вы предварительно заказываете товар. Как только товар будет у нас, мы перезвоним и
              вы сможете забрать его по адресу:
              <a href="/info/contact.html">г.Киев, ул. Набережно-Луговая 7</a>.
              # print sys_msg('Перед вашим визитом в офис <b>обязательно</b> перезвоните нам, и договоритесь о времени вашего приезда!', 'Важно!', 'WARNING', 'inline')
              <p><h3>Курьер по Киеву</h3>
              На указанный вами адрес товар доставит курьер. Стоимость доставки <b>20 - 35 гривен</b>. При заказе на сумму
              от <b>500 гривен</b> доставка бесплатная.
              <p><h3>Доставка по Украине</h3>
              Вы указываете город, посылка будет отправлена в этот город на склад курьерской службы
              <a href="http://www.intime.ua/">&laquo;Ин-Тайм&raquo;</a>. Для большинства товаров
              стоимость такой доставки будет в пределах <b>30 гривен</b>. Вы можете также воспользоватся 
              <a href="http://www.intime.ua/calc">
              <img src="/func/calc.gif" alt="Калькулятор">&nbsp;калькулятором</a> для расчета стоимости
              доставки на сайте &laquo;Ин-Тайм&raquo;.
              <br><a href="http://www.intime.ua/calc"><img src="/func/images/logo-intime.gif" alt="Ин-Тайм"></a>
              <p><h3>Доставка по Украине к дверям</h3>
              Посылка будет отправлена курьерской службой
              <a href="http://www.intime.ua/">&laquo;Ин-Тайм&raquo;</a> по адресу, указанному вами.
              Для большинства товаров стоимость такой доставки будет в пределах <b>45 гривен</b>.

            <a name="step3"></a>
            <p><h2>3. Оплата</h2>
              # print sys_msg("Если вы выбрали доставку, ее стоимость будет прибавлена к стоимость товара. Оплата производится в гривнах.", "Важно!", "HINT")
              <p><h3>Наличными в офисе</h3>
              Вы расплачиваетесь наличными у нас в офисе (<a href="/info/contact.html">г.Киев, ул. Набережно-Луговая 7</a>),
              и забираете товар.
              # print sys_msg('Перед вашим визитом в офис <b>обязательно</b> перезвоните нам, и договоритесь о времени вашего приезда!', 'Важно!', 'WARNING', 'inline')
              <p><h3>Деньги курьеру</h3>
              Если вы живете в Киеве, то оплачиваете товар курьеру, который доставил вам заказ.
              <p><h3>На карточку</h3>
              Вы перечисляете деньги на нашу карточку Visa в банке 
              <a href="http://www.aval.ua"><img src="/func/images/logo-aval.gif" alt="РайффайзенБанк Аваль"></a> или в
              <a href="http://www.privatbank.ua"><img src="/func/images/logo-privat.gif" alt="ПриватБанк"></a>.
              <p><h3>Наложенный платеж</h3>
              Эта форма оплаты удобна, если вы живете в другом городе. Вы получаете товар, заплатив
              курьерской службе деньги. К сумме оплаты вы добавляете <b>10 гривен</b> и 2% от стоимости заказа.
              <p><h3>Безналичный платеж</h3>
              Мы отправляем вам реквизиты, вы выполняете платеж.
              <p><h3>Безналичный платеж на плательщика НДС</h3>
              Мы отправляем вам реквизиты, вы выполняете платеж. Оригиналы всех необходимых документов вы получите
              вместе с посылкой, или заберете у нас в офисе.

            <a name="step4"></a>
            <p><h2>4. Позвоните и закажите</h2>
              Для заказа вам необходимо сообщить нам:
              <ul class='main'>
              <li><span class="text">Коды выбранных вами товаров</span>
              <li><span class="text">Cпособ доставки</span>
              <li><span class="text">Вид оплаты</span>
              </ul>
              Мы уточним итоговую стоимость, срок
              поставки и оформим заказ. Не все товары есть у нас в наличии, но, в любом случае, срок выполнения 
              заказа мы вам сообщим заранее. Заказ вы оплачиваете в зависимости от выбранного вами способа 
              доставки / оплаты. После выполнения заказа вы получаете товар.  