            <script type="text/javascript" src="http://www.google.com/jsapi?key={{config.GOOGLE_KEY}}"></script>
            <h1>Контактная информация</h1><br>

            В данный момент мы работаем только по доставке, то есть мы приезжаем к вам и привозим ваш заказ.
            К нам приехать и забрать заказ нет возможности.
            <p>Мы расчитываем в скором времени сделать так, чтобы вы при желании могли забрать
            заказ самостоятельно.
            <p>В любом случае, мы на связи и доступны по телефону <strong>{{site.config("PHONES")}}</strong>
            или по электропочте <img src="/func/images/email.gif" class="icon" alt="">


