<div>
 
      <h1>Цены на шлемы HJC</h1> 
    
  
  <a name="0.1_00000001"></a>
<div align="left">

<table border="2" cellspacing="0">
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="30"><b>1</b></th>
  <td align="center" valign="middle" width="179"><font size="2" face="Arial Cyr"><b>Модель 
  шлема</b></font></td>

  <td align="center" valign="middle" width="51"><font size="2" face="Arial Cyr"><b>Цена 
  USD</b></font></td>
  <td align="center" valign="middle" width="81"><font size="2" face="Arial Cyr"><b>Визир 
  (стекло для шлема)</b></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>2</b></th>
  <td valign="middle" width="179"><font size="2" face="Arial Cyr">FS-15 
  Terror MC31, M</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">185</font></td>
  <td valign="middle" width="81"><font size="2" face="Arial Cyr">HJ-09</font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>3</b></th>
  <td valign="middle" width="179"><font size="2" face="Arial Cyr">FS-15 
  ELBOWZ II MC1, M</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">180</font></td>
  <td valign="middle" width="81"><font size="2" face="Arial Cyr">HJ-09</font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>4</b></th>
  <td valign="middle" width="179"><font size="2" face="Arial"><b>FS-15 
  Surge MC1 (Red), S</b></font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">180</font></td>

  <td valign="middle" width="81"><font size="2" face="Arial Cyr">HJ-09</font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>5</b></th>
  <td valign="middle" width="179"><font size="2" face="Arial Cyr">CL-16 
  Hellion MC1 (Red), L</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">173</font></td>
  <td valign="middle" width="81"><font size="2" face="Arial Cyr">HJ-09</font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>6</b></th>
  <td valign="middle" width="179"><font size="2" face="Arial Cyr">CL-16 
  Hellion MC2 (Blue), M</font></td>

  <td align="right" width="51"><font size="2" face="Arial Cyr">173</font></td>
  <td valign="middle" width="81"><font size="2" face="Arial Cyr">HJ-09</font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>7</b></th>
  <td valign="middle" width="179"><font size="2" face="Arial">CL-SP Typhoon 
  MC2 (Silver), L</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">180</font></td>
  <td valign="middle" width="81"><font size="2" face="Arial Cyr">HJ-09</font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>8</b></th>
  <td valign="middle" width="179"><font size="2" face="Arial">CL-SP Typhoon 
  MC3 (Yellow), M</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">180</font></td>
  <td valign="middle" width="81"><font size="2" face="Arial Cyr">HJ-09</font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>9</b></th>
  <td valign="middle" width="179"><font size="2" face="Arial Cyr">CS-R1 
  Inferno MC1 (Red/Black), M</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">128</font></td>

  <td valign="middle" width="81"><font size="2" face="Arial Cyr">HJ-09</font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>10</b></th>
  <td valign="middle" width="179"><font size="2" face="Arial Cyr">CS-R1 
  Draggar MC4 (Green), M</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">128</font></td>
  <td valign="middle" width="81"><font size="2" face="Arial Cyr">HJ-09</font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>11</b></th>
  <td valign="middle" width="179"><font size="2" face="Arial">CS-R1 Draggar  
  MC8 (Pink), S</font></td>

  <td align="right" width="51"><font size="2" face="Arial Cyr">128</font></td>
  <td valign="middle" width="81"><font size="2" face="Arial Cyr">HJ-09</font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>12</b></th>
  <td valign="middle" width="179"><font size="2" face="Arial Cyr">CS-R1 
  Paradox MC2 (Blue), S</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">100</font></td>
  <td valign="middle" width="81"><font size="2" face="Arial Cyr">HJ-09</font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>13</b></th>
  <td valign="middle" width="179"><font size="2" face="Arial"><b>CL-15 
  Mutant MC2 (Blue), L</b></font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">100</font></td>
  <td valign="middle" width="81"><font size="2" face="Arial Cyr">HJ-09</font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>14</b></th>
  <td valign="middle" width="179"><font size="2" face="Arial">CL-Max Solid 
  (Black), M</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">200</font></td>

  <td valign="middle" width="81"><font size="2" face="Arial Cyr">HJ-07</font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>15</b></th>
  <td valign="middle" width="179"><font color="#FF0000" size="2" face="Arial">CL-SP 
  Lola (Blue), XS</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">145</font></td>
  <td valign="middle" width="81"><font size="2" face="Arial Cyr">HJ-09</font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="18"><b>16</b></th>
  <td align="center" valign="middle" width="179"><font size="2" face="Arial Cyr"><b>Модель 
  стекла для шлема</b></font></td>

  <td width="51"> </td>
  <td width="81"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>17 </b></th>
  <td valign="middle" width="179"><font size="2" face="Arial">HJ-09 Smoke</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">40</font></td>
  <td width="81"> </td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>18 </b></th>
  <td valign="middle" width="179"><font size="2" face="Arial">HJ-09 Dark 
  Smoke</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">40</font></td>
  <td width="81"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>19 </b></th>
  <td valign="middle" width="179"><font size="2" face="Arial">HJ-09 Gradient 
  Smoke</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">65</font></td>

  <td width="81"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>20 </b></th>
  <td valign="middle" width="179"><font size="2" face="Arial">HJ-09 Silver 
  (Mirror)</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">65</font></td>
  <td width="81"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>21 </b></th>
  <td valign="middle" width="179"><font size="2" face="Arial">HJ-09 Gold 
  (Mirror)</font></td>

  <td align="right" width="51"><font size="2" face="Arial Cyr">65</font></td>
  <td width="81"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="12"><b>22 </b></th>
  <td valign="middle" width="179"><font size="2" face="Arial">HJ-09 Blue</font></td>
  <td align="right" width="51"><font size="2" face="Arial Cyr">65</font></td>
  <td width="81"> </td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18"><b>23 </b></th>
  <td width="179"> </td>
  <td width="51"> </td>
  <td width="81"> </td></tr>
</table>
</div>


</div>
