<div>
 
      <h1> Прайс на масла и смазки Castrol</h1> 
    
  
  <a name="0.1_00000001"></a>

<div align="left">
<table border="2" cellspacing="0">

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="22"><b>
  6</b></th>
  <td align="center" valign="middle" width="218"><font color="#000080" size="2" face="Arial"><b>Наименование</b></font></td>
  <td align="center" valign="middle" width="62"><font color="#000080" size="2" face="Arial"><b>Упаковка</b></font></td>

  <td align="center" valign="middle" width="62"><font color="#000080" size="2" face="Arial"><b>Цена, 
  грн.</b></font></td>
  <td width="67"> </td>
  <td width="191"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>7</b></th>
  <td align="center" valign="middle" bgcolor="#3366FF" colspan="5"><font color="#000080" size="4" face="Times New Roman Cyr"><i>смазки</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="8"><b>8</b></th>
  <td valign="middle" bgcolor="#99CCFF" colspan="5"><font color="#FF0000" size="1" face="Times New Roman Cyr"><i>CastrolCastrolCastrolCastrolCa<WBR>strolCastrolCastrolCastrolCast<WBR>rolCastrolCastrolCastrolCastro<WBR>lCastrolCastrolCastrolCastrolC<WBR>astrolCastrolCastrolCastrolCas<WBR>trolCastrolCastrolCastrolCastr<WBR>olCastrolCastrolCastrolCastrol<WBR>CastrolCastrolCastrolCastrolCa<WBR>strolCastrolCasCastrolCastrolC<WBR>astrolCastrol</i></font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>10</b></th>
  <td bgcolor="#99CCFF" width="218" rowspan="3"><font color="#000080" size="4" face="Times New Roman Cyr"><i>LMX 
  Grease</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>25 кг.</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>5198.78</i></font></td>
  <td bgcolor="#99CCFF" width="67" rowspan="3"> </td>
  <td align="center" valign="middle" bgcolor="#99CCFF" width="191" rowspan="3"><font color="#000080" size="2" face="Times New Roman Cyr"><i>NLGI 2</i></font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>11</b></th>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>12 х 0,4 кг.</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>116.11</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>12</b></th>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 12 x 0,3 кг</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>85.61</i></font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>13</b></th>
  <td bgcolor="#99CCFF" width="218" rowspan="3"><font color="#000080" size="4" face="Times New Roman Cyr"><i>MS/3 
  Grease</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>25 кг.</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>5359.97</i></font></td>
  <td bgcolor="#99CCFF" width="67" rowspan="3"> </td>
  <td align="center" valign="middle" bgcolor="#99CCFF" width="191" rowspan="3"><font color="#000080" size="2" face="Times New Roman Cyr"><i>NLGI 2</i></font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>14</b></th>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>18 кг.</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>4051.85</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>15</b></th>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 12 x 0,3 кг</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>87.04</i></font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>16</b></th>
  <td align="center" valign="middle" bgcolor="#3366FF" colspan="5"><font color="#000080" size="4" face="Times New Roman Cyr"><i>сервисные 
  продукты</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="8"><b>17</b></th>
  <td valign="middle" bgcolor="#99CCFF" colspan="5"><font color="#FF0000" size="1" face="Times New Roman Cyr"><i>CastrolCastrolCastrolCastrolCa<WBR>strolCastrolCastrolCastrolCast<WBR>rolCastrolCastrolCastrolCastro<WBR>lCastrolCastrolCastrolCastrolC<WBR>astrolCastrolCastrolCastrolCas<WBR>trolCastrolCastrolCastrolCastr<WBR>olCastrolCastrolCastrolCastrol<WBR>CastrolCastrolCastrolCastrolCa<WBR>strolCastrolCasCastrolCastrolC<WBR>astrolCastrol</i></font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="13"><b>18</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218" rowspan="3"><font color="#FF0000" size="4" face="Times New Roman Cyr"><i>Response 
  Super  DOT4</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 15 x0,25 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>36.72</i></font></td>
  <td valign="middle" bgcolor="#99CCFF" colspan="2" rowspan="3"><font color="#000080" size="1" face="Times New Roman Cyr"><i>SAE 
  J 1703, FMVSS 116 DOT 3, DOT 4, ISO 4925 and JIS K2233</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="13"><b>19</b></th>

  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 12 x 1 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>96.94</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="13"><b>20</b></th>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 4 x 5 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>431.20</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="13"><b>21</b></th>

  <td valign="middle" bgcolor="#99CCFF" width="218" rowspan="3"><font color="#000080" size="4" face="Times New Roman Cyr"><i>Response 
  DOT4</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 15 x0,25 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>33.12</i></font></td>
  <td valign="middle" bgcolor="#99CCFF" colspan="2" rowspan="3"><font color="#000080" size="1" face="Times New Roman Cyr"><i>SAE 
  J 1703, FMVSS 116 DOT 3, DOT 4, ISO 4925 and JIS K2233</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="13"><b>22</b></th>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 12 x 1 л</i></font></td>

  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>96.96</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="13"><b>23</b></th>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 4 x 5 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>431.22</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="13"><b>24</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218" rowspan="3"><font color="#000080" size="4" face="Times New Roman Cyr"><i>Antifreeze 
  NF</i></font></td>

  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman Cyr"><i> 12 x 1 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>80.70</i></font></td>
  <td bgcolor="#99CCFF" colspan="2" rowspan="3"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="13"><b>25</b></th>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman Cyr"><i>60 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>4687.20</i></font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="13"><b>26</b></th>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman Cyr"><i>208 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>15429.54</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="13"><b>27</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218" rowspan="2"><font color="#000080" size="4" face="Times New Roman Cyr"><i>VDK 
  rot G12</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 15 x 1 л</i></font></td>

  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>89.24</i></font></td>
  <td valign="middle" bgcolor="#99CCFF" colspan="2" rowspan="2"><font color="#000080" size="2" face="Times New Roman Cyr"><i>Volkswagen 
  TL-VW774D (G12)</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="13"><b>28</b></th>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman Cyr"><i>60 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>4967.31</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="15"><b>29</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>Spray 
  oil 4 in 1</i></font></td>

  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman Cyr"><i>12 х 0.3 л.</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>51.08</i></font></td>
  <td bgcolor="#99CCFF" colspan="2"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>30</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>TBE</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 12 x 0,25 л</i></font></td>

  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>103.17</i></font></td>
  <td valign="middle" bgcolor="#99CCFF" colspan="2"><font color="#000080" size="2" face="Times New Roman Cyr"><i>Комплексная 
  многофункциональная присадка к бензину</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>31</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>TDA</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>12 х 0,25 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>97.51</i></font></td>

  <td valign="middle" bgcolor="#99CCFF" colspan="2"><font color="#000080" size="2" face="Times New Roman Cyr"><i>Комплексная 
  многофункциональная присадка к дизелю</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>32</b></th>
  <td align="center" valign="middle" bgcolor="#3366FF" colspan="5"><font color="#000080" size="3" face="Arial Cyr"><i>МОТОРНЫЕ МАСЛА 
  ДЛЯ МОТО И ВОДНОЙ ТЕХНИКИ</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="8"><b>33</b></th>
  <td valign="middle" bgcolor="#99CCFF" colspan="5"><font color="#FF0000" size="1" face="Times New Roman Cyr"><i>CastrolCastrolCastrolCastrolCa<WBR>strolCastrolCastrolCastrolCast<WBR>rolCastrolCastrolCastrolCastro<WBR>lCastrolCastrolCastrolCastrolC<WBR>astrolCastrolCastrolCastrolCas<WBR>trolCastrolCastrolCastrolCastr<WBR>olCastrolCastrolCastrolCastrol<WBR>CastrolCastrolCastrolCastrolCa<WBR>strolCastrolCasCastrolCastrolC<WBR>astrolCastrol</i></font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>34</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#FF0000" size="4" face="Times New Roman Cyr"><i>R40</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>12 x 1 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>182.62</i></font></td>
  <td align="center" valign="middle" bgcolor="#99CCFF" width="67"><font color="#000080" size="2" face="Times New Roman Cyr"><i>SG</i></font></td>
  <td align="center" valign="middle" bgcolor="#99CCFF" width="191"><font color="#000080" size="2" face="Times New Roman Cyr"><i>JASO MA</i></font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>35</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#FF0000" size="4" face="Times New Roman Cyr"><i>Power 
  1 GPS 4T 10w-30</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>12x 1 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>155.91</i></font></td>
  <td align="center" bgcolor="#99CCFF" width="67"><font color="#000080" size="2" face="Times New Roman Cyr"><b><i>SG</i></b></font></td>
  <td align="center" valign="middle" bgcolor="#99CCFF" width="191"><font color="#000080" size="2" face="Times New Roman Cyr"><i> JASO MA</i></font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>36</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218" rowspan="4"><font color="#FF0000" size="4" face="Times New Roman Cyr"><i>Power 
  1 Racing 4T 10w-50</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>12x 1 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>147.40</i></font></td>
  <td align="center" valign="middle" bgcolor="#99CCFF" width="67" rowspan="4"><font color="#000080" size="2" face="Times New Roman Cyr"><i>SG</i></font></td>
  <td align="center" valign="middle" bgcolor="#99CCFF" width="191" rowspan="4"><font color="#000080" size="2" face="Times New Roman Cyr"><i>  JASO 
  MA</i></font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>37</b></th>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>4 x 4 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>545.73</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>38</b></th>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>20 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>2456.76</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>39</b></th>

  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>60 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>6959.23</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>40</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#FF0000" size="4" face="Times New Roman Cyr"><i>Power 
  1 Racing 2 T</i></font></td>
  <td align="right" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>12 
  x 1 л</i></font></td>
  <td align="right" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>136.99</i></font></td>

  <td align="center" valign="middle" bgcolor="#99CCFF" width="67"><font color="#000080" size="2" face="Arial">SG</font></td>
  <td align="center" valign="middle" bgcolor="#99CCFF" width="191"><font color="#000080" size="2" face="Times New Roman Cyr"><i>JASO MA</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>41</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218" rowspan="4"><font color="#339966" size="4" face="Times New Roman Cyr"><i>Act&gt;evo 
  X-tra 4T 10w-40</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 12 x 1 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>99.05</i></font></td>

  <td align="center" valign="middle" bgcolor="#99CCFF" colspan="2" rowspan="4"><font color="#000080" size="2" face="Times New Roman Cyr"><i>SG JASO MA</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>42</b></th>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>4 x 4 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>367.00</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>43</b></th>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>20 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>1651.00</i></font></td></tr>

<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>44</b></th>
  <td align="right" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>60 
  л.</i></font></td>
  <td align="right" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>4677.83</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>45</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#339966" size="4" face="Times New Roman Cyr"><i>Act&gt;Evo 
  X-tra Scooter 4T 5w-40</i></font></td>
  <td align="right" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>12 
  x 1 л</i></font></td>

  <td align="right" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>89.00</i></font></td>
  <td bgcolor="#99CCFF" width="67"> </td>
  <td align="center" valign="middle" bgcolor="#99CCFF" width="191"><font color="#000080" size="2" face="Times New Roman Cyr"><i>SG JASO MA</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>46</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#339966" size="4" face="Times New Roman Cyr"><i>Act&gt;Evo 
  X-tra Scooter 2T</i></font></td>
  <td align="right" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>12 
  x 1 л</i></font></td>

  <td align="right" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>77.17</i></font></td>
  <td bgcolor="#99CCFF" width="67"> </td>
  <td align="center" valign="middle" bgcolor="#99CCFF" width="191"><font color="#000080" size="2" face="Times New Roman Cyr"><i>SG JASO MA</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>47</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218" rowspan="2"><font color="#339966" size="4" face="Times New Roman Cyr"><i>Act&gt;Evo 
  4T 20w-50</i></font></td>
  <td align="right" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>12 
  x 1 л</i></font></td>

  <td align="right" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>69.22</i></font></td>
  <td bgcolor="#99CCFF" width="67"> </td>
  <td align="center" valign="middle" bgcolor="#99CCFF" width="191" rowspan="2"><font color="#000080" size="2" face="Times New Roman Cyr"><i>SG JASO MA</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>48</b></th>
  <td align="right" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>20 
  л</i></font></td>
  <td align="right" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>1218.47</i></font></td>

  <td bgcolor="#99CCFF" width="67"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>49</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>Act&gt;Evo 
  2T</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 12 x 1 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>66.27</i></font></td>
  <td align="center" valign="middle" bgcolor="#99CCFF" width="67"><font color="#000080" size="2" face="Times New Roman Cyr"><i>SG</i></font></td>

  <td align="center" valign="middle" bgcolor="#99CCFF" width="191"><font color="#000080" size="2" face="Times New Roman Cyr"><i>JASO MA </i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>
  50</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>Act&gt;evo 
  X-tra 2T</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 12 x 1 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>94.64</i></font></td>

  <td align="center" valign="middle" bgcolor="#99CCFF" width="67"><font color="#000080" size="2" face="Times New Roman Cyr"><i>TC</i></font></td>
  <td align="center" valign="middle" bgcolor="#99CCFF" width="191"><font color="#000080" size="2" face="Times New Roman Cyr"><i>JASO FC, ISO 
  EGD, TISI</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>51</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>Synthetic 
  Fork Oil 10w</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>0/5 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>116.82</i></font></td>

  <td align="center" valign="middle" bgcolor="#99CCFF" width="67"><font color="#000080" size="2" face="Times New Roman Cyr"><i>SJ/CF</i></font></td>
  <td align="center" bgcolor="#99CCFF" width="191"><font color="#000080" size="2" face="Times New Roman Cyr"><i>-</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>52</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>Motorcycle 
  Brake Fluid</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>0.25 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>46.92</i></font></td>

  <td bgcolor="#99CCFF" width="67"> </td>
  <td bgcolor="#99CCFF" width="191"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>53</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>Chain 
  Spray O-R</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>0.4 л.</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>155.34</i></font></td>

  <td bgcolor="#99CCFF" width="67"> </td>
  <td bgcolor="#99CCFF" width="191"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>54</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>Chain 
  Cleaner</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>0.40л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>107.88</i></font></td>

  <td bgcolor="#99CCFF" width="67"> </td>
  <td bgcolor="#99CCFF" width="191"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>55</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>Greentec 
  Bike Cleaner</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>12 x 1 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>295.57</i></font></td>

  <td bgcolor="#99CCFF" width="67"> </td>
  <td bgcolor="#99CCFF" width="191"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>56</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>DWF 
  Spray</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>0.40 л.</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>70.76</i></font></td>

  <td bgcolor="#99CCFF" width="67"> </td>
  <td bgcolor="#99CCFF" width="191"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>57</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>Silicon 
  Spray</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>0.40 л.</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>69.91</i></font></td>

  <td bgcolor="#99CCFF" width="67"> </td>
  <td bgcolor="#99CCFF" width="191"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>58</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>Inboard4T 
  15w-40</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 4 x 4 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>281.09</i></font></td>

  <td align="center" bgcolor="#99CCFF" width="67"><font color="#000080" size="2" face="Times New Roman Cyr"><i>SG/CF-4</i></font></td>
  <td align="center" bgcolor="#99CCFF" width="191"><font color="#000080" size="2" face="Times New Roman Cyr"><i>-</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>59</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#FF0000" size="4" face="Times New Roman Cyr"><i>AquaRace</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 12 x 1 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>96.90</i></font></td>

  <td align="center" valign="middle" bgcolor="#99CCFF" width="67"><font color="#000080" size="2" face="Times New Roman Cyr"><i>TC</i></font></td>
  <td align="center" valign="middle" bgcolor="#99CCFF" width="191"><font color="#000080" size="2" face="Times New Roman Cyr"><i>Bombardier (Rotax)</i></font></td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>60</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#FF0000" size="4" face="Times New Roman Cyr"><i>Biolube2T</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 12 x 1 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>174.71</i></font></td>

  <td bgcolor="#99CCFF" width="67"><font color="#000080" size="2" face="Times New Roman Cyr"><i>NMMA 
  TC-W3, ICOMIA 27-92</i></font></td>
  <td bgcolor="#99CCFF" width="191"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>61</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>Outboard 
  2T</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i>12 x 1 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>90.74</i></font></td>

  <td bgcolor="#99CCFF" width="67"> </td>
  <td bgcolor="#99CCFF" width="191"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18" height="17"><b>62</b></th>
  <td valign="middle" bgcolor="#99CCFF" width="218"><font color="#000080" size="4" face="Times New Roman Cyr"><i>Outboard 
  4T 10w-30</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman CE"><i> 12 x 1 л</i></font></td>
  <td align="right" valign="middle" bgcolor="#99CCFF" width="62"><font color="#000080" size="2" face="Times New Roman"><i>74.41</i></font></td>

  <td bgcolor="#99CCFF" width="67"><font color="#000080" size="2" face="Times New Roman Cyr"><i>NMMA 
  TC-W3</i></font></td>
  <td bgcolor="#99CCFF" width="191"> </td></tr>
<tr valign="bottom"><th align="center" bgcolor="#B0B0B0" width="18"><b>63</b></th>
  <td width="218"> </td>
  <td width="62"> </td>
  <td width="62"> </td>

  <td width="67"> </td>
  <td width="191"> </td></tr>
</table>
</div>


</div>
