            <h1>Товары под заказ из США или Англии</h1>
            Вам нужна какая-то эксклюзивная мотодеталь, но ее нет в Украине? Вы нашли в магазине шлем или перчатки,
            определились с размером, но вас не устраивает цена или цвет? Часто именно тот товар, который вы хотите, 
            продается, например, в американских онлайн-магазинах.
            <p>
            <h2>Где искать?</h2>
            Мы работаем со следующими интернет-магазинами:
            <ul class='main'>
            <li><a href="http://www.ebay.com">ebay.com</a>
            <li><a href="http://www.bikebandit.com">bikebandit.com</a>
            <li><a href="http://www.wemoto.com">wemoto.com</a>
            </ul>
            Если вы нашли интересующий вас товар, но он продается в другом месте &mdash; мы готовы обсудить возможность
            такой покупки.

            <p><h2>Как заказать?</h2>
            Для выполнения заказа нам необходима 100% предоплата. Также от вас требуется следующая информация:
            <ol>
            <li>Прямая ссылка (URL) на найденный товар
            <li>Описание товара
            <li>Модель и год выпуска вашего мотоцикла. Если речь идет об
                экипировке &mdash; производитель, модель, размер, цвет и так далее.
            </ol>
            В разделе <a href="/info/buy.html">Как купить</a> подробно описано,
            как перечислить деньги и получить товар
            <p><h2>Сколько ждать?</h2>
            Обычно посылки из США приходят в течении 3-х недель. Редко бывают форс-мажорные обстоятельства
            и посылки задерживаются. Крайне редко &mdash; пропадают. В любом случае, мы гарантируем вам доставку заказа
            или, в случае пропажи &mdash; возврат денег.

            <p>
            <h2>Расчет стоимости</h2>
            Цена товара, привезенного из США, составляется из 4-х частей.
            <ol>
            <li>Цена, указанная на сайте магазина.
            <li>Стоимость доставки из интернет-магазина на наш склад в Штатах (shipping).
            <li>Доставки товара из США в Украину из расчета $10 за килограмм.
            <li>Наш процент, обычно 10-20% от стоимости товара.
            </ol>
            <p>В любом случае, если у вас есть желание заказать какую-нибудь мотовещь &mdash; звоните, мы подскажем.
            <p><div style="background: url('/func/images/zakaz.gif') no-repeat; height: 93px;"></div>