<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html> 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>404 Не найдено</title>

    <style type="text/css">
    html, body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;
        color: black;
        background-color: #e5e5e5;
        text-align:-moz-center;
    }
    img {
        border: 0;
    }
    .moto {
        font-family: "Times New Roman", Times, serif;
        font-size: 20pt;
        font-weight: bold;
        color: red;
    }
    .container {
        text-align: left;
        width: 400px;
    }
    </style>

</head>
<body>
  <div class="container">
    <div class="moto">404 Error / Не найдено</div>
    <p> The page you requested was not found<br>Страница, которую вы запросили, отсутствует на сервере.<br><br>
    <p><a href="/"><img src="/func/logo-big.gif" alt="МотоФортуна"></a>
    <p><a href="/">Home / На главную</a>
    <p><b>Debug:</b> {{message}}      
  </div>
</body>
</html>